<%# form_with(model: [micropost, comment]) do |f| %>
  <%# <div class="area_cmnt"> %>
    <%# <ul>
      <li>
        <%= f.text_area :comment_content, placeholder: "コメントを入力", class: "comment_text", id: "text_area" %>
      <%# </li> %>
      <%# <li>
        <%= button_tag( class: "btn btn-default btn-sm") do %>
          <%# <%= content_tag :div, "", class: "glyphicon glyphicon-comment"%>
        <%# <% end %>
      <%# </li> %>
    <%# </ul> %>
  <%# </div> %>
<%# end %>
