<li>
  <%= image_tag(user.image_name.url, size: "30x30") %>
  <%= link_to user.name, user %>
  <p><%= user.username %></p>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
