@import "bootstrap-sprockets";
@import "bootstrap";

html { font-size: 62.5%; }
/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 75px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/* header */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid #eaeaea;
}

#logo {
  font-family:'Pacifico', cursive;
  font-size: 2.5rem;
  color: #231F20;
  letter-spacing: -1px;
  &:hover {
    color: #231F20;
    text-decoration: none;
  }
}

.searchForm {
  padding-top: 14px;
}

.searchText {
  width: 215px;
  padding: 6px 0;
  text-align: center;
  background-color: #FAFAFA;
  // transition: all .6s ease;
  // background-repeat: no-repeat;
  // background-position: 8px center;
  // background-size: auto 60%;
  // margin: 0 auto;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  // color: #DBDBDB;
  font-size: 1.4rem;
  outline: 0;
  &:focus {
    text-align: left;
    padding-left: 5px;
    background-color: #FFFFFF;
  }
}

#notice, #user {
  margin-left: 40px;
  font-size: 2.5rem;
  color: #231F20;
  &:hover {
    text-decoration: none;
  }
}

/* main */

.jumbotron h1 {
  font-family:'Pacifico', cursive;
}

/* footer */

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-top: 1px solid #eaeaea;
}

#post {
  font-size: 2.5rem;
  color: #231F20;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* show */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 65px 0;
  p {
    font-size: 2.8rem;
    margin: 10px 0;
  }
  #edit {
    // border: solid 1px #DBDBDB;
    color: black;
    // font-weight: bold;
    font-size: 2.5rem;
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  #cancel {
    font-size: 1.4rem;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    // border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    // display: block;
  }
}

#unfollow {
  border: solid 1px #DBDBDB;
}

/* edit */

.profile-edit {
  margin: 10px 0;
}

.private p {
  margin-top: 50px;
  font-size: 1.4rem;
  color: #999
}

.del {
  padding-top: 50px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
