<footer class="navbar navbar-fixed-bottom navbar-light">
  <div class="container">
    <%= link_to new_micropost_path, id: "post" do %>
      <i class="far fa-plus-square"></i>
    <% end %>
  </div>
</footer>
